.confirmation-container{
    padding: 40px 20px;
    text-align: center;
}
h4{
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
}
p{
    margin-bottom: 60px;
}
button{
    border:none;
    border-radius: 10px;
    padding:13px;
    color:white
}

.btns{
    padding:0px 20px;
    display:flex;
    justify-content: space-around;
}

.cancel{
    background-color: rgb(229, 72, 72);
}
.cancel:hover{
    background-color: rgb(255, 17, 17);
}
.confirm{
    background-color: rgb(63, 139, 63)
}
.confirm:hover{
    background-color: rgb(51, 174, 51)
}