<!-- 
<nav class="navbar navbar-light bg-light" >
  <div class="container">
    <div class="row w-100 first" >
      <div class="col ">
        <p class="title">File Managment Application</p>
      </div>
    </div>
    <div class="row w-100 justify-content-between">
      <div class="col-2 operation">
        <button class="btn btn-light"(click)="openCreateFolderDialog()"><i class="fas fa-folder"></i> Create</button>
        <span>NEW</span>
      </div>
      <div class="col-3 operation">
        <button class="btn btn-light"  [class.disabled]="(!selectedFolder && !selectedFile) || disableOtherActions()" (click)="openRenameFolderDialog()"  ><i class="fa-solid fa-file-signature"></i>Rename</button>
        <button class="btn btn-light delete"  [class.disabled]="!selectedFolder && !selectedFile" (click)="openDeleteFolderDialog($event)" ><i class="fa-solid fa-xmark "></i> Delete</button>
        <span>Organize</span>
      </div>
      <div class="col-3 operation">
        <button class="btn btn-light" [class.disabled]="!selectedFolder || disableOtherActions()" (click)="openUploadDialog()"><i class="fa-solid fa-upload"></i> Upload</button>
        <button class="btn btn-light" [class.disabled]="!selectedFile || disableOtherActions()" (click)="downloadFile(selectedFile)"><i class="fa-solid fa-download"></i> Download</button>
        <span>Transfer</span>
      </div>
      <div class="col-2 operation">
        <button class="btn btn-light" [class.disabled]="!selectedFile || disableOtherActions()" (click)="openPreviewDialog()"><i class="fa-solid fa-magnifying-glass" ></i> Preview</button>
        <span>Open</span>
      </div>

    </div>
  </div>
</nav>

<div class="navigation-container">
  <div class="breadcrumb-container ">

    <ng-container *ngFor="let segment of path; let i = index">
      <span
        class="breadcrumb-item"
        (click)="onPathClick(i)"
        [class.active]="i === path.length - 1">
        {{ segment.name }}
      </span>
      <ng-container *ngIf="i < path.length - 1">
        <span class="breadcrumb-separator"> / </span>
      </ng-container>
    </ng-container>
  </div>
</div>-->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="header">
      <div class="icon">
        <i class="fa-solid fa-folder-open"> <span> FileFolderManager</span></i>
        <button (click)="openLogout()" class="logout"> <i (click)="openLogout()" class="fa-solid fa-user"></i></button>
      </div>
    </div>
      <div class="all-actions row" >
        <div class="col-3">
          <button class="create" (click)="openCreateFolderDialog()"><i class="fa-solid fa-plus"></i>Create folder </button> 
        </div>
        <div class="actions col-3" *ngIf="selectedFolder || selectedFile || disableOtherActions()" >
          <button [class.disabled]="(!selectedFolder && !selectedFile) || disableOtherActions()" (click)="openRenameFolderDialog()"><i class="fa-solid fa-file-signature"></i></button>
            <button [class.disabled]="!selectedFolder || disableOtherActions() || isZip()"  (click)="openUploadDialog()"><i class="fa-solid fa-upload"></i></button>
            <button [class.disabled]="!selectedFile || disableOtherActions()" (click)="downloadFile(selectedFile)"><i class="fa-solid fa-download"></i></button>
          <button  [class.disabled]="!selectedFile || disableOtherActions()"  (click)="openPreviewDialog()"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button [class.disabled]="!selectedFolder && !selectedFile" (click)="openDeleteFolderDialog($event)" ><i class="fa-solid fa-trash"></i></button>
          <button  [class.disabled]="!selectedFolder && !selectedFile" (click)="selectAll()" class="selectAll">
          <i class="fa-solid fa-border-all"></i> </button>
    
        </div>
      </div>
    </header>
</body>
</html>
