
.navbar {
  margin-bottom: 5px;
  
}
.container{
  width:100%
}
.fa-xmark {
  color: red;
}
.fa-magnifying-glass {
  color: blue;
}

i {
  font-size: 20px;
}

.operation {
  border-right: 2px solid rgb(238, 238, 238);
}
button {
  justify-content: center;
}
span {
  display: block;
  position: relative;
  left: 28%;
  color: rgb(189, 189, 189);
  font-size: 10px;
}

.title {
  font-size: 15px;
  color: rgb(189, 189, 189);
}

.disabled{
  opacity: 0.5;
  pointer-events: none; 
}


.navigation-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 1em;
  gap: 1em; 
}


.breadcrumb-container {
  display: flex;
  align-items: center; 
  flex-wrap: nowrap; 
  white-space: nowrap; 
  font-size: 1em; 
}


.breadcrumb-item {
  cursor: pointer;
  color: #007bff; 
  text-decoration: none; 
  transition: color 0.3s, font-weight 0.3s; 
}

.breadcrumb-item:hover {
  color: #0056b3; 
}

.breadcrumb-item.active {
  font-weight: bold; 
  color: #333; 
}


.breadcrumb-separator {
  margin: 0 0.5em; 
  color: #6c757d; 
  font-size: 1em;
}


@media (max-width: 768px) {
  .operation {
      margin: 0;
      border: none;
      margin-top: 10px;
  }
  span, i {
      font-size: 15px;
      float: left;
      padding: 0px;
  }
  .navigation-container{
    display: flex;
    flex-direction: column;
   padding:0px
  }

}

@media (max-width: 400px) {
  .operation span {
      display: none;
  }
  .operation button {
      display: flex;
      flex-direction: column;
  }
}



