header {
  margin: 10px 20px 20px 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  gap: 340px;

  .fa-folder-open,
  span {
    color: #007bff;
  }
  span {
    margin-left: 5px;
  }
}
.create {
  border: none;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


.create:hover {
  background-color: #d3d3d3;
}
.fa-plus {
  margin-left: 5px;
}
.col-3{
  padding-right:0
}
.all-actions {
  display: flex;
  align-items: start;
  margin-top: 40px;
  /* gap:30px */
}

.actions {
  background-color: rgb(194, 215, 245);
  display: flex;
 justify-self: start;
  font-size: 15px;
  margin-right: 25px;
  gap: 25px;
  flex-wrap: nowrap;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;

  button {
    border: none;
    background-color: rgb(194, 215, 245);
  }
  button:hover {
    border-radius: 50%;
    background-color: rgb(233, 233, 233);
  }
  .fa-xmark {
    margin-right: 10px;
  }
}

.disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
  border: 1px solid #c0c0c0;
  cursor: not-allowed;
  pointer-events: none;
}

.logout {
  position: absolute;
  right: 10px;
  top: 5px;
  align-items: center;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
}

.logout:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.logout:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.logout:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.logout .fa-user {
  color: white;
}


@media (max-width: 900px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }
  .create {
    font-size: 12px;
    padding: 10px 14px;
  }

  .actions {
    gap: 10px;
    font-size: 12px;
    padding: 8px 10px;
  }
  .icon i,
  .icon span {
    font-size: 10px;
    position: absolute;
    left: 0;
  }
  .icon {
    margin-bottom: 20px;
  }
  .logout {
    right: 0;
    height: 30px;
    padding: 15px;
  }
  .fa-user {
    top: 10px;
    right: 6%;
  }
  .actions{
    margin-left:10%
  }
}
@media (max-width: 767px) {
  .icon i,
  .icon span {
    font-size: 10px;
    position: absolute;
    left: 0;
  }

 

}

@media (max-width: 480px) {
  .header {
    margin: 0;
  }
  .icon {
    margin-bottom: 30px;
  }

  .fa-folder-open {
    display: none;
  }

  .create {
    font-size: 8px;
    padding:10px 5px
  }

  .actions{
    margin-left:5%
  }
 
}
