header{
  margin:10px 20px 40px 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  margin-bottom:20px;
  gap:340px;

 i, span{
    color: #007bff;
  }
  span{
    margin-left:5px
  }

}
.create{
  border:none;
  padding:20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.create:hover{
  background-color: #d3d3d3;
}
.fa-plus{
  margin-left:5px
}

.all-actions{
  display: flex;
  align-items: center;
  gap:200px;
  margin-top:40px
  
}

.actions{
  background-color: rgb(194, 215, 245);
  display: flex;
  font-size: 15px;
  gap:25px;
  flex-wrap: nowrap;
  padding:10px 15px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;

  button{
    border:none;
    background-color: rgb(194, 215, 245);

  }
  button:hover{
    border-radius: 50%;
    background-color:  rgb(233, 233, 233); 
  }
  .fa-xmark{
    margin-right:10px
  }

}

.disabled {
  background-color: #e0e0e0; 
  color: #a0a0a0;           
  border: 1px solid #c0c0c0; 
  cursor: not-allowed;      
  pointer-events: none;      
}