
.changePass-container {
    padding: 20px;
    border-radius: 8px;
  }
  

  .dialog-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 77, 0);
    text-align: center;
    margin-bottom:10px
  }


  mat-form-field {
    width: 100%;
  }
  

  input[matInput] {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
  }
  

  mat-error {
    font-size: 14px;
    color: #dc3545; 
  }
  
  
  .btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    gap: 15px;
}

button {
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(63, 81, 181, 0.25);
}

button:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

button:first-child {
    background-color: #f5f5f5;
    color: #333;
}

button:first-child:hover {
    background-color: #e0e0e0;
}

button:last-child {
    background-color:rgb(0, 77, 0);
    color: #fff;
}

button:last-child:hover {
    background-color: rgb(1, 44, 1);
}


button[disabled] {
  background-color: #43d18c;
  color: #666;
  cursor: none;
}