.row {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    padding: 0 20px;
}

.col-9 {
    display: flex;
    justify-content: start;   
}

@media (min-width: 768px) and (max-width: 991px) {
   
    .col-3 {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .col-9 {
        flex: 0 0 70%;
        max-width: 70%;
    }
}

@media(max-width: 767px) {
   
    .col-3 {
        flex: 0 0 30%;
        max-width: 30%;
        padding:0px
    }

    .col-9 {
        flex: 0 0 70%;
        max-width: 70%;
        padding:0px
    }
}
