.delete-container{
    height:300px;
    padding:20px;
    background-color: white;
}
.delete-container strong{
    text-align: center;
}
.dialog-actions{
    margin-top:60px;
    display: flex;
    justify-content: center;
    gap:10px
}
.dialog-actions button{
    padding:15px 20px;
    
}
.cancel{
    border:none;
    background-color: white;
}

.fa-xmark{
    color:red;   
    font-size: 30px;
    position: relative;
}