
.rename-container {
    padding: 20px;
    background-color: white;
  }
  
  .dialog-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(67, 157, 199)
  }
  
  .dialog-content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form-field {
    width: 100%;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: end;
  }
  

  .success {
    background:rgb(27, 143, 206);
    border: 1px solid #4755f0;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 20px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
  }
  
  .success:hover,
  .success:active {
    background-color: white;
    color:rgb(27, 143, 206);
    box-shadow: rgba(138, 198, 223, 0.5) 0 1px 30px;
  }
  
  .success:active {
  transform: scale(0.9);
    opacity: 0.5;
  }
  

  .cancel{
    border:none;
    background-color: white;
}

.fa-xmark{
    color:red;   
    font-size: 30px;
    position: relative;
}