
.rename-container {
    padding: 20px;
    background-color: white;
  }
  
  .dialog-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .dialog-content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form-field {
    width: 100%;
  }
  
  .dialog-actions {
    display: flex;
    justify-content: end;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    color:white
  }
  
  .btn-primary {
    background-color: #7787e4;
  }
  
  .btn-primary:hover {
    background-color: #3a48a9;
  }
  

  .cancel{
    border:none;
    background-color: white;
}

.fa-xmark{
    color:red;   
    font-size: 30px;
    position: relative;
}