<div class="rename-container">
<h2 mat-dialog-title class="dialog-title">Rename Folder</h2>
<div mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Folder Name</mat-label>
    <input matInput [(ngModel)]="data.folderName" />
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button-red class="btn btn-danger" (click)="onCancel()">Cancel</button>
  <button mat-button-success  class="btn btn-success" (click)="onSave()" >Rename</button>
</div>
</div>