<div class="register">
<h2 mat-dialog-title>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Firstname</mat-label>
    <input matInput formControlName="firstname">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Lastname</mat-label>
    <input matInput formControlName="lastname">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput formControlName="password">
    <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
        Password must be 8 characters minmun
      </mat-error>
    <mat-error *ngIf="registerForm.get('password')?.hasError('pattern')">
        Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character. Minimum 8 characters allowed!
      </mat-error>
  </mat-form-field>
  <div mat-dialog-actions class="actions">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button type="submit" [disabled]="!registerForm.valid">Register</button>
  </div>
</form>
<p class="login-link">Already registered? <a (click)="openLoginModal()">Login</a></p>
</div>