
<div mat-dialog-title class="dialog-title">Version</div>
<div mat-dialog-content class="dialog-content">
  <p class="current-version">Your current file version:</p>
  <p class="version-display">{{ data.version }}</p>
  <mat-form-field appearance="fill" class="form-field">
    <mat-label>Update Version:</mat-label>
    <mat-select #selectedVersion (selectionChange)="onSave($event.value)">
      <mat-option *ngFor="let version of versions" [value]="version.version">
        {{ version.version }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="btn btn-danger" (click)="onCancel()">Cancel</button>
</div>
