
<!-- THIS IS THE RIGHT  -->
<!-- <button *ngIf="hasItems()" (click)="selectAll()" class="btn btn-primary selectAll"><i class="fa-solid fa-border-all" *ngIf="hasItems()" (click)="selectAll()"> Select all</i></button>
<div *ngIf="selectedFolder">
  <h3>{{ selectedFolder.name }}</h3>
  <div class="container">
    <div
      *ngFor="let child of selectedFolder.childFolders"
      class="file"
      [ngClass]="{
        'selected-item': isSelected(child, 'folder') && !isMultiSelect(),
        'selected-items': isMultiSelect()
      }"
      [attr.draggable]="true"
      (dragstart)="onDragStart($event, child.id, 'folder')"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, child.id, 'folder')"
      (dragleave)="onDragLeave($event)"
    >
      <i
        class="fas fa-folder"
        (click)="handleClick(child, 'folder', $event)"
        (dblclick)="doubleClickFolder(child)"
        
      ></i>
      {{ child.name }}
    </div>
    <div
      *ngFor="let file of selectedFolder.files"
      class="file"
      [ngClass]="{
        'selected-item': isSelected(file, 'file') && !isMultiSelect(),
        'selected-items': isMultiSelect()
      }"
      [attr.draggable]="true"
      (dragstart)="onDragStart($event, file.id, 'file')"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, file.id, 'file')"
      (dragleave)="onDragLeave($event)"
    >
      <i
        [class]="getFileIcon(file.name)"
        (click)="handleClick(file, 'file', $event)"
       
      ></i>
      {{ file.name }}
    </div>
  </div>
</div> -->

<!-- <button (click)="deleteSelectedItems()">Delete Selected Items</button>
 -->

 <!-- <div class="file-explorer-container">

 <div class="search">
  <button *ngIf="hasItems()" (click)="selectAll()" class="selectAll"><i class="fa-solid fa-border-all" *ngIf="hasItems()" (click)="selectAll()"> Select all</i></button>
  <input type="search" *ngIf="hasItems()"
  [(ngModel)]="searchQuery"
  (ngModelChange)="search()"
  placeholder="search folders and files">
 </div>
  
  <div *ngIf="selectedFolder">
    <h3>{{ selectedFolder.name }}</h3>
    <div class="container">
      <div
        *ngFor="let child of selectedFolder.childFolders"
        class="file"
        [ngClass]="{
          'selected-item': isSelected(child, 'folder') ,
        }"
        [attr.draggable]="true"
        (dragstart)="onDragStart($event, child.id, 'folder')"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event, child.id, 'folder')"
        (dragleave)="onDragLeave($event)"
      >
        <i
          class="fas fa-folder"
          (click)="handleClick(child, 'folder', $event)"
          (dblclick)="doubleClickFolder(child)"
          
        ></i>
        {{ child.name }}
      </div>
      <div
        *ngFor="let file of selectedFolder.files"
        class="file"
        [ngClass]="{
          'selected-item': isSelected(file, 'file') ,
        }"
        [attr.draggable]="true"
        (dragstart)="onDragStart($event, file.id, 'file')"
        (dragover)="onDragOver($event)"
        (drop)="onDrop($event, file.id, 'file')"
        (dragleave)="onDragLeave($event)"
      >
      <ng-container *ngIf="isImage(file.name)">
        <img [class]="getFileIcon(file.name)" alt="Uploaded Image" (click)="handleClick(file, 'file', $event)" />
      </ng-container>
      <ng-container *ngIf="!isImage(file.name)">
        <i [class]="getFileIcon(file.name)" (click)="handleClick(file, 'file', $event)"></i>
      </ng-container>
      {{ file.name }}
        <i
          [class]="getFileIcon(file.name)"
          (click)="handleClick(file, 'file', $event)"
         
        ></i>
        {{ file.name }}
      </div>
    </div>
  </div>

</div> -->

<div class="file-explorer">
<div class="search">
  <button  (click)="selectAll()" class="selectAll">
    <i class="fa-solid fa-border-all"></i> Select all
  </button>
  <input
    type="search"
    [(ngModel)]="searchQuery"
    (ngModelChange)="search()"
    placeholder="Search folders and files"
  />
</div>

<div *ngIf="selectedFolder">
  <h3>{{ selectedFolder.name }}</h3>
  <div class="container">
    <!-- folders -->
    <div
      *ngFor="let child of selectedFolder.childFolders"
      class="file"
      [ngClass]="{ 'selected-item': isSelected(child, 'folder') }"
      [attr.draggable]="true"
      (dragstart)="onDragStart($event, child.id, 'folder')"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, child.id, 'folder')"
      (dragleave)="onDragLeave($event)"
      (contextmenu)="onRightClick($event, child, 'folder')"
    >
      <i
        class="fas fa-folder"
        (click)="handleClick(child, 'folder', $event)"
        (dblclick)="doubleClickFolder(child)"
      ></i>
      {{ child.name }}
    </div>

    <!--  files -->
    <div
      *ngFor="let file of getActive(selectedFolder.files)"
      class="file"
      [ngClass]="{ 'selected-item': isSelected(file, 'file') }"
      [attr.draggable]="true"
      (dragstart)="onDragStart($event, file.id, 'file')"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event, file.id, 'file')"
      (dragleave)="onDragLeave($event)"
      (contextmenu)="onRightClick($event, file, 'file')"
    >
    <ng-container *ngIf="isImage(file.name); else fileIcon">
      <img [src]="file.url" [class]="getFileIcon(file.name)" (click)="handleClick(file, 'file', $event)" />
    </ng-container>
      <ng-template #fileIcon>
        <i [class]="getFileIcon(file.name)" (click)="handleClick(file, 'file', $event)"></i>
      </ng-template>
      {{ file.name }}
    </div>
  </div>
</div>

<div 
    class="context-menu" 
    *ngIf="showContextMenu" 
    [ngStyle]="{ left: contextMenuPosition.x + 'px', top: contextMenuPosition.y + 'px' }">
      <ul>
        <li *ngFor="let item of contextMenuItems" (click)="handleContextMenuAction(item)">
          {{ item }}
        </li>
    </ul>
  </div>

</div>

