.bigContainer{
  padding-left:20px
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.file {
  width: 100px;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.file:hover{
  background-color: rgb(229, 229, 229);
}

.selected-item {
  background-color: rgb(240, 253, 255); 
  border: 1px solid #6d90f0;
}

.fa-folder,
.fa-file,
.fa-file-pdf,
.fa-file-word,
.fa-file-powerpoint,
.fa-image, 
 .fa-file-zipper {
  font-size: 80px;
}

.selectAll {
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  padding:4px 10px;
  font-size: 10px;
  text-transform: lowercase;
  color: rgb(23, 26, 50);
  background-color: white;
  cursor: pointer; 
  transition: all 0.3s ease; 
  margin-left:10px
}

.selectAll:hover {
  background-color: #ebebeb; 
  color:rgb(88, 88, 88)
}



.file-explorer{
  margin-top:30px;

}


/* right click */
.context-menu {
  width:200px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f0f0f0;
}


/* path */
.breadcrumb-container{
  margin-bottom: 20px;
  display: flex


}

.navigation-container{
display:flex;
align-items: top;
}

span{
  font-size: 30px;
  color:rgb(59, 59, 59);
  padding: 5px 10px;
}

.breadcrumb-item:hover{
  justify-content: start;
  background-color: rgb(212, 212, 212);
  cursor: pointer;
  border-radius: 20px;
}

.breadcrumb-separator{
  color:gray
}


.search {
position:absolute;
top:15px;
left:28%;

}


.search input[type="search"] {
  padding: 10px 15px;
  border: 1px solid #cacaca;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s, width 0.4s ease; 
}


.search input[type="search"] {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  outline: none;
  width: 700px; 
}


.search input[type="search"]::placeholder {
  color: #aaa;
  font-style: italic;
  padding-left:10px;

}


.display{
  position: absolute;
  right:30px
}

.btn1{
  border-radius: 13px 0px 0px 13px;
 }
.btn2{
  border-radius: 0px 13px 13px 0px;
  
}
.display button{
  border:1px solid gray;
  padding:5px 15px;
  background-color: white;
}

.display button:hover{
  background-color:  rgb(229, 229, 229);
}
.display button.active{
  background-color:  rgb(222, 233, 248);
}

/* list */
.list-view .container{
  justify-content: start;
}
.list-view .file {
  display:flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding:5px;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.list-view .file-info {
  display: grid; 
  grid-template-columns: repeat(3, 250px);
}

.list-view .file i, .list-view span, .list-view .file img{
  font-size:15px;
}

/* if name too long i hide it */
.list-view .file-info  .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
}
.list-view .file:hover{
  background-color: rgb(229, 229, 229);
}

.container .noFolder{
  display: flex;
}

.no-results{
  background-image: url(../../../assets/Screenshot\ 2024-08-21\ 145946.png);
  width:30vw;
  height:30vh;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: contain;
  margin-left:30%

}

.results{
  display:flex;
  gap:20px
}


@media(max-width:1200px){
  .search input[type="search"]{
    width:600px
  }
 
  
  
}

@media (max-width: 992px) {
  .list-view .file{
    width:100%;
    padding-left:0
  }
  .list-view .file-info {
    grid-template-columns: auto auto auto;
    gap:10px;
   
  }
  .list-view .file i, .list-view span, .list-view .file img{
    font-size:8px;
  }

  .fa-folder,
  .fa-file,
  .fa-file-pdf,
  .fa-file-word,
  .fa-file-powerpoint , 
  .fa-image, 
  .fa-file-zipper{
    font-size: 50px;
  }

  .container{
  gap:5px
  }
  .file{
    width:70px
  }
  h3 {
    font-size: 20px;
    text-align: center;
  }
 .file-explorer{
  margin-left:30px;
  width:60vw;
  
 }
.search input[type="search"]{
  width:400px;
  margin-left:10%
}

.search input[type="search"] {
  padding: 5px;
  font-size: 10px;

}

.no-results{
  margin-left:20%
}


}


@media(max-width:768px){
  .search input[type="search"]{
    width:300px
  }
  .display{
    top:270px
  }
}

@media(max-width:600px){
  .search input[type="search"]{
    width:250px;
  }
}


@media(max-width:500px){
  .search input[type="search"]{
    width:200px;
  }

 
  




}
@media(max-width:480px){
  .fa-folder,
  .fa-file,
  .fa-file-pdf,
  .fa-file-word,
  .fa-file-powerpoint , 
  .fa-image, 
  .fa-file-zipper{
    font-size: 30px;
  }
  span{
    font-size:15px
  }

  .search {
    left:0px
  }
  .search input[type="search"] {
    padding: 5px;
    font-size: 10px;
    width:300px
 
  }
  
  .container{
    padding:0;
    justify-content: start;
  }

  .display button{
    padding:0px 5px;
    font-size:10px
  }

  
@media(max-width:400px){
  .search input[type="search"]{
    width:250px;
  }
  .search{
    margin-left:0;
    padding-left:0;
    left:0px
  }
}

}

